body {
    margin: 0;
}

/* Typography */

h1 {
    font-family: Mukta;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 72px;
}

h2 {
    font-family: Muli;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
}

h3 {
    font-family: Muli;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
}

h4 {
    font-family: Muli;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;
}

h5 {
    font-family: Mukta;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
}

h6 {
    font-family: Mukta;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    text-transform: uppercase;
}

p {
    font-family: Muli;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
}

/* sections paddings */

.section--sm {
    padding-top: 56px;
    padding-bottom: 56px;
}

.section--md {
    padding-top: 84px;
    padding-bottom: 84px;
}

.section--lg {
    padding-top: 144px;
    padding-bottom: 144px;
}
.section--xs {
    padding-top: 28px;
}

/* brand */



.brand img {
    margin-right: 12px;
}

.brand__logo {
    width: 71px;
    height: 28px;
    font-family: Mukta;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;

    color: #38BDFE;
}

.brand__name {
    color: #DBE2E9;
    font-family: Mukta;
    font-style: normal;
    font-size: 20px;
    line-height: 28px;
    width: 71px;
    height: 28px;

}




/* Navigation */

nav li a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: Muli;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1em;
    align-items: center;
    color: #DBE2E9;
    float: right;
}

nav li {
    display: inline-block;
}

nav li + li {
    margin-left: 48px;

}
.brand a{
    padding-top:28px;
}
nav ul {
    padding-top: 6px;
    text-align: right;
}

.footer-navigation ul {
    align-items: center;
    text-align: center;
    padding-top: 20px;
}

.footer-navigation li {
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    color: #1E1E1E;
    display: inline-block;
    padding-right: 52px;
}
.footer-navigation li a{
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #1E1E1E;

}

/* Link */

.link {
    font-family: Mukta;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    padding-bottom: 32px;
    color: #38BDFE
}

/* Buttons */

.button {
    margin-top: 40px;
    display: flex;
    text-decoration: none;
    justify-content: center;
}

.button--primary {
    font-family: Mukta;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    padding: 12px 44px;
    background: #38BDFE;
    border-radius: 28px;
    color: #EEF4FA;
    margin-right: 30px;
    justify-content: center;

}

.button--secondary {
    font-family: Mukta;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    color: #43444B;
    background: #DBE2E9;
    opacity: 0.3;
    border-radius: 28px;
    padding: 12px 44px;

}

.button-group {
    display: flex;
    text-decoration: none;
    padding-top: 48px;
    justify-content: center;
}

/* Icons */

.elipsee {
    text-align: center;
    padding-right: 10px;
    padding-top: 32px;
}

/* Specific block styles */

.header {
    background-color: #08213E;
    padding: 28px 0;
    background-image: url("images_Background image.png");
    background-blend-mode: overlay;
}
.dark-context{
    background-color:black;
    color:white;

}
.dark-context h4{
    padding-top:234px;
}


.block{
    background-color:white;
    margin-top:234px;
}
.block1{
    padding-bottom:40px;
}
.block1 h2,h5{
    text-align:center;
}
.block1 h5{
    font-family: Mukta;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #6E7A82;
}
.block4 h6{
    font-family: Mukta;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;

    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.block3 h5{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    align-items: center;
    float:left;
    color: #1E1E1E;
}
.block3 h6{
    font-family: Mukta;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #38BDFE;
}
.section--md p{
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #1E1E1E;
    padding-left:32px;

}
.section--md h4,a{
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #1E1E1E;
    padding-top:32px;
    padding-left:32px;
}
.section--lg h1{
    font-family: Mukta;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 72px;
    display: flex;
    align-items: center;
    color: #38BDFE;
}
.section--lg h4{
    padding-top:30px;
}

.section--lg p {
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #1E1E1E;
}
.section--md h6{
    font-family: Mukta;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.section--lg h2,h6{
    text-align:center;
}
.lapky{
    text-align:center;
    align-items: center;
    padding-top:144px;
    padding-bottom:36px;
}
  .author{
      font-family: Mulish;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: #6E7A82;
      padding-top:32px;
}
.section--lg p1 {
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #C5C5C5;
}


.footer-brand__logo   {
    padding-right:12px;


}
.footer-brand__name {
    font-family: Mukta;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #43444B;

}

.footer {
    align-items: center;
    text-align:center;

}
.footer-brand {
    align-items: center;
    text-align:center;
    padding-top:56px;
    padding-bottom:20px;
}

p2{
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
p3{
    font-family: Mulish;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    text-align:center;
    color: #6E7A82;
    padding-bottom:56px;
    padding-top:38px;
}



.section-xs h6{
    font-family: Mulish;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    align-items: center;
    text-align: center;
    color: #1E1E1E;
}