body {
    margin: 0;
}

/* Typography */

h1 {
    font-family: Mukta;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 72px;
}

h2 {
    font-family: Muli;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
}

h3 {
    font-family: Muli;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
}

h4 {
    font-family: Muli;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;
}

h5 {
    font-family: Mukta;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
}

h6 {
    font-family: Mukta;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    text-transform: uppercase;
}

p {
    font-family: Muli;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
}

/* sections paddings */

.section--sm {
    padding-top: 56px;
    padding-bottom: 56px;
}

.section--md {
    padding-top: 84px;
    padding-bottom: 84px;
}

.section--lg {
    padding-top: 144px;
    padding-bottom: 144px;
}

/* brand */

.brand {
    display: flex;
    align-items: center;
}

.brand img {
    margin-right: 12px;
}

.brand__logo {
    width: 71px;
    height: 28px;
    font-family: Mukta;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    align-items: center;
    color: #38BDFE;
}

.brand__name {
    color: #DBE2E9;
    font-family: Mukta;
    font-style: normal;
    font-size: 20px;
    line-height: 28px;
    align-items: center;
    width: 71px;
    height: 28px;
}

.footer-brand {
    font-family: Mukta;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    padding-top: 56px;
    align-items: center;
    text-align: center;
    color: #43444B;
}


/* Navigation */

nav li a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: Muli;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1em;
    align-items: center;
    color: #DBE2E9;
    float: right;
}

nav li {
    display: inline-block;
}

nav li + li {
    margin-left: 48px;

}

nav ul {
    padding-top: 6px;
    text-align: right;
}

.footer-navigation ul {
    align-items: center;
    text-align: center;
    padding-top: 20px;
}

.footer-navigation li {
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    color: #1E1E1E;
    display: inline;
    padding-right: 52px;
}

/* Link */

.link {
    font-family: Mukta;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    padding-bottom: 32px;
    color: #38BDFE
}

/* Buttons */

.button {
    margin-top: 40px;
    display: flex;
    text-decoration: none;
    justify-content: center;
}

.button--primary {
    font-family: Mukta;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    padding: 12px 44px;
    background: #38BDFE;
    border-radius: 28px;
    color: #EEF4FA;
    margin-right: 30px;
    justify-content: center;
}

.button--secondary {
    font-family: Mukta;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    color: #43444B;
    background: #DBE2E9;
    opacity: 0.3;
    border-radius: 28px;
    padding: 12px 44px;
}

.button-group {
    display: flex;
    text-decoration: none;
    padding-top: 48px;
    justify-content: center;
}

/* Icons */

.elipsee {
    text-align: center;
    padding-right: 10px;
    padding-top: 32px;
}

/* Specific block styles */

.header {
    background-color: #08213E;
    padding: 28px 0;
    background-image: url("images_Background image.png");
    background-blend-mode: overlay;
}
.dark-context{
    background-color:black;
    color:white;
}