body {
  margin: 0; }

.dark-context {
  background-image: linear-gradient(#0A122A, #084B8A); }

.dark-content {
  background-color: #0B173B; }

/*section*/
.section--xs {
  padding-top: 45px;
  padding-bottom: 45px; }

.section--md {
  padding-top: 196px;
  padding-bottom: 84px; }

.section--lg {
  padding-top: 144px;
  padding-bottom: 144px; }

.section--sm {
  padding-top: 56px;
  padding-bottom: 56px; }

/*typografia/* */
h1 {
  font-family: Mukta;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 72px; }

h2 {
  font-family: Muli;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px; }

h3 {
  font-family: Muli;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px; }

h4 {
  font-family: Muli;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 28px; }

h5 {
  font-family: Mukta;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px; }

h6 {
  font-family: Mukta;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
  text-transform: uppercase; }

/*brand/* */
.brand__logo {
  width: 71px;
  height: 28px;
  font-family: Mukta;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #38BDFE; }

.brand a {
  display: flex;
  float: left; }

.brand__name {
  color: #DBE2E9;
  font-family: Mukta;
  font-style: normal;
  font-size: 20px;
  line-height: 28px;
  width: 71px;
  height: 28px; }

/*box/* */
.box {
  background-color: #FFFFFF;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-right: 32px;
  padding-left: 32px;
  margin-top: 234px; }

.box h4 {
  font-style: normal;
  font-weight: normal;
  align-items: center;
  color: #1E1E1E; }

.box p {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #1E1E1E; }

/*dark-context/* */
.dark-context h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 72px;
  align-items: center;
  color: #FFFFFF;
  padding-top: 8px;
  padding-bottom: 32px; }

.dark-context h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  align-items: center;
  color: #FFFFFF; }

.dark-context h2 {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  color: #FFFFFF;
  text-align: center; }

.dark-context h6 {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  align-items: center;
  color: #FFFFFF; }

.dark-content h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  color: #FFFFFF;
  align-items: center;
  text-align: center; }

.dark-context h5 {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  padding-top: 24px;
  padding-bottom: 40px; }

.picture {
  padding-top: 40px; }

/*dark-content/* */
.dark-content h5 {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  padding-top: 24px; }

.dark-content h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 72px;
  align-items: center;
  color: #38BDFE;
  padding-top: 48px;
  padding-bottom: 30px; }

.dark-content h4 {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 28px;
  padding-top: 30px;
  color: #FFFFFF; }

.dark-content p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  align-items: center;
  color: #C5C5C5;
  padding-top: 30px; }

/*block/* */
.block h6 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF; }

.block h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  color: #FFFFFF;
  align-items: center;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 24px; }

.block2 {
  text-align: left;
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #1E1E1E;
  padding-top: 16px; }

.link_1 {
  font-family: Mukta;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  color: #66C0EC; }

.text {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  padding-top: 36px;
  padding-bottom: 32px;
  color: #6E7A82; }

.light-content h6 {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #6E7A82; }

.title {
  float: left; }

.title h6 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #38BDFE;
  font-family: Mukta;
  text-transform: uppercase;
  text-align: left;
  padding-top: 24px; }

.title h5 {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #1E1E1E;
  text-align: left;
  float: left;
  padding-top: 16px; }

/*light-context/* */
.light-content cite {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  padding-top: 32px;
  color: #1E1E1E; }

.light-content h5 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #6E7A82; }

.light-content p {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  color: #6E7A82;
  padding-top: 20px; }

.light-content h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  align-items: center;
  text-align: center;
  color: #1E1E1E; }

.light-content img {
  align-items: center; }

.light-content,
.footer-brand {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  align-items: center;
  text-align: center;
  color: #43444B; }

/*link*/
.link {
  font-family: Mukta;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  color: #38BDFE; }

/*nav ul li a*/
nav ul {
  margin: 0px;
  padding: 0px;
  float: right;
  list-style: none; }

li {
  display: inline;
  padding-right: 12px;
  list-style-type: none; }

li a {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #DBE2E9;
  display: inline-flex; }

li a:hover {
  text-decoration: none;
  color: white; }

a:hover {
  color: #38BDFE;
  text-decoration: none; }

/*button/* */
.button {
  display: flex;
  text-decoration: none;
  justify-content: center; }

.button--primary {
  font-family: Mukta;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  padding: 12px 44px;
  background-color: #38BDFE;
  border-radius: 28px;
  color: #EEF4FA;
  margin-right: 30px; }

.button--secondary {
  font-family: Mukta;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  color: #43444B;
  padding: 12px 44px;
  background-color: #DBE2E9;
  opacity: 0.3;
  border-radius: 28px; }

.button--second {
  font-family: Mukta;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  color: #43444B;
  display: flex;
  background: #FFFFFF;
  border-radius: 28px;
  padding: 12px 39px; }

.button-group {
  display: flex;
  text-decoration: none;
  padding-top: 52px;
  justify-content: center; }

/*elipsee/* */
.elipsee {
  text-align: center;
  padding-right: 10px;
  padding-top: 32px; }

/*title/* */
.title_1 h1 {
  font-family: Mukta;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 72px;
  color: #FFFFFF;
  text-align: center; }

.title_1 {
  text-align: center; }

/*footer*/
.footer-navigation ul {
  align-items: center;
  text-align: center;
  padding-top: 20px; }

.footer-navigation li a {
  font-family: Mulish;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  color: #1E1E1E;
  display: inline; }

.footer-brand__name {
  font-family: Mukta;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #43444B; }

.footer li a:hover {
  color: #1E1E1E; }

.footer h6 {
  font-family: Mulish;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  padding-top: 20px;
  color: #1E1E1E; }
