body {
    margin: 0;
    $font-family-sans-serif:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
}


.block{
    color:#38BDFE;
    font-family: Mukta;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    margin-top:24px;
}

/*typography*/


h1 {
    font-family: Mukta;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 72px;
    color: #FFFFFF;
}
h2{
    font-family: Muli;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    text-align:center;
    color: #1E1E1E;
}

h3 {
    width: 471px;
    height: 32px;
    left: 375px;
    top: 416px;
    font-family: Muli;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
h4 {
    height: 28px;
    left: 32px;
    right: 32px;
    top: 32px;
    font-family: Muli;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;
    display: flex;
    align-items: center;
    padding-top:32px;
}
h5 {
    font-family: Mukta;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #6E7A82;
    text-align: center;
}

h6 {
    font-family: Mukta;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
text-transform:uppercase;
    color: #FFFFFF;
}

/*header*/

/*section*/
.section--xs{
    padding-top:28px;
    padiing-bottom:24px;
}
.section--l{
    padding-top:148px;
    padiing-bottom:144px;
}
.section--s{
    padding-top:56px;
    padiing-bottom:56px;
}
.section--xl{
    padding-top:196px;
    padiing-bottom:84px;
}



.header  {
    background-color: #08213E;
    padding:28px 0;
    background-image: url("images_Background image.png");
    background-blend-mode: overlay;
}

.logo {
    width: 71px;
    height: 28px;
    font-family: Mukta;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    align-items: center;
    color: #DBE2E9;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}
nav li a
{
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: Muli;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1em;
    align-items: center;
    color: #DBE2E9;
    float: right;
}
nav li{
    display: inline-block;
}
nav li+li{
    margin-left: 48px;

}
nav ul{
    padding-top:6px;
    text-align: right;
}

.brand_logo > a{
    display: flex;
    align-items: center;
}
.brand_logo a img{
    margin-right: 12px;
}

li a:hover {
    text-decoration: none;
    color: #DBE2E9;
}


.flex-container {
    display: flex;
    margin-top:174px;

}
.flex-container > div {
    background-color:#FFFFFF;
    font-family: Muli;
    font-style: normal;
    font-weight: normal;
    line-height: 26px;
    padding:32px;
    display: flex;
    align-items: center;
    margin-right: 30px;
    margin-left: 0px;
}
.link {
    font-family: Mukta;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    padding-bottom:32px;
    color: #38BDFE
}
.flex-container1 {
    display: flex;
    margin-top:40px;
    flex-direction: row;
    color:#38BDFE;
}
.flex-container1 > div {
    width: 270px;
    height: 242px;

}

p{
    padding-top:16px;
    font-family: Muli;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #1E1E1E
}
.price{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color:#1E1E1E;
}

.title0{
    margin-top:144px;
}
.title{
    font-family: Mukta;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #38BDFE;

}
.button {
    font-family: Mukta;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    border-radius: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    padding:12px 44px;
}
.button1{
    background-color:#38BDFE ;
    color: #EEF4FA;
    margin-right:30px;
}
.button2 {
    background: #DBE2E9;
    color: #43444B;

}
.flex-container2 {
    margin-top:280px;
    margin-left:400px;
    display:flex;
}
.button3 {
    background-color: #38BDFE;
    color: #EEF4FA;
    margin-top:40px;
    margin-left:470px;
}
.button4 {
    background-color:#38BDFE ;
    color: #EEF4FA;
    margin-right:30px;

}
.button5 {
    background: #DBE2E9;
    color: #43444B;

}
.title1{
    margin-top:144px;
    align-items: center;
    text-align: center;
    color:#FFFFFF;
}
.title2{
    margin-top:38px;
    align-items: center;
    text-align: center;
}


.title3{
    margin-top:144px;

    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.title4{
    margin-top:40px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
.title5{
    margin-top:72px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;

}
.title6{
    line-height: 72px;
    display: flex;
    align-items: center;
    color: #38BDFE;

}
.title7{
    display: flex;
    align-items: center;
    line-height: 28px;
    color: #FFFFFF;
}
.block-1{
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #C5C5C5;
    margin-top:30px;
}
.text8{
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #66C0EC;
    font-weight:800px;
    margin-top:16px;
}
.title8{
    font-weight:bold;
    color: #20B4FD;
    margin-top:148px;
    align-items: center;
    text-align: center;
}
.title9{
    font-weight: 300;
    line-height: 28px;
    align-items: center;
    text-align: center;
    color: #1E1E1E;
    margin-top:36px;

}
.title10{
    font-weight:bold;
    color: #20B4FD;
    margin-top:32px;
    align-items: center;
    text-align: center;
}
.title11{

    color: #1E1E1E;
    margin-top:32px;
    align-items: center;
    text-align: center;
    font-family: Muli;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;


}
.title12{
    color: #6E7A82;
    align-items: center;
    text-align: center;
    font-family: Muli;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    margin-bottom:144px;
}

.title13{
    margin-top:144px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;

}
.title14{
    line-height: 48px;
    margin-top:4px;
    align-items: center;
    text-align: center;
    color: #FFFFFF
}
.title15{
    margin-top:4px;
    font-weight: 300;
    line-height: 28px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
.title16{
    font-weight: bold;
    line-height: 72px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin-left:70px;
}
.flex-container3{
    margin-left:350px;
margin-top:60px;
    display: flex;

}
.section-7{
    height: 364px;
    background-color: #FFFFFF;
}
.brand1{
    margin-top:56px;
    align-items: center;
    text-align: center;
}
.title17 {
    font-weight: 300;
    line-height: 28px;
    align-items: center;
    text-align: center;
    color: #1E1E1E;
    margin-top:20px;
}
.flex-container4{
    display: flex;
    flex-direction: row;

}
.flex-container4>div{
    padding:10px;
    margin-top:15px;
    margin-left:120px;
    font-weight: 600;
    line-height: 24px;
    font-size: 16px;
    font-family: Muli;
    font-style: normal;
    align-items: center;
    color: #1E1E1E;

}
.title18{
    font-weight: 300;
    line-height: 24px;
    align-items: center;
    text-align: center;
    color: #6E7A82;
    margin-top:32px;
}
